* {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background: black;
    position: absolute;
    align-items: center;
    opacity: 0.8;
    
}

img {

     width: 10%;
     position: relative;
     left: 50px;
}

.links-container {
    display: flex;
    align-items: end;
    position: initial;
    
}

.links-container ul {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    right: 250px;
    position: relative;
    
}

.links-container ul li a {
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 10px 20px 0 20px;
}

#button {
    display: none;
    align-items: center;
    position: relative;
    right: 10px;
    color:white;
  
}


.dropdown-container ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
   
}

.dropdown-container ul {
    list-style-type: none;
    position: initial;
    margin-top: 50px;
    
   
}


.dropdown-container ul li {
    padding: 10px;
}

.dropdown-container {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: black;
    padding: 100px 0 100px 0;
 
    
}

.dropdown-container-show {
    display: flex;
}



@media only screen and (max-width: 1000px) {
    #button {
      display: flex;
    }
  }


  @media only screen and (max-width: 1000px) {
    .links-container ul {
      display: none;
    }
  }


#fBook {
    color:white;
    position: relative;
    top: 8px;
}

#insta {
    color:white;
    position: relative;
    top: 9px;
    left: 15px;
}


